.pageLoading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  > div {
    width: 100px;
    height: 100px;
    opacity: 0.5;
    background: #03afab;
    border-radius: 10000px;
    transition: transform 0.6s ease-in-out;
    position: absolute;
    transform: scale(0);
  }

  // &.active {
  //     display: flex;
  //     visibility: visible;

  //     >div {
  //         // width: 10000px;
  //         // height: 10000px;
  //     }
  // }
}

.profile .tab .tab-content .tab1 label {
  flex-wrap: wrap;
}

.error-input {
  border-color: red !important;
}

.error-text {
  color: red;
  font-size: 13px !important;
  width: 100% !important;
  padding-left: 160px;
  font-weight: 400;
}
